
@{
    ViewBag.Title = "AddInfo";
}

@Styles.Render("~/Style/layui")
@Scripts.Render("~/Script/layui")

<h2>AddInfo</h2>

<div>
    <script src="~/Content/ueditor/ueditor.config.js"></script>
    <script src="~/Content/ueditor/ueditor.all.min.js"></script>
    <script src="~/Content/ueditor/lang/zh-cn/zh-cn.js"></script>

    @using (Html.BeginForm("UeTest", "TrainInfo", FormMethod.Post)) {
        <textarea id="editor" name="editor"></textarea>
        <input style="display:none" id="SubmitBtn" type="submit" value="提交" />
    }

    <script type="text/javascript">
        var editor = new baidu.editor.ui.Editor({
            initialContent: '欢迎使用ueditor',//初始化编辑器内容
            autoHeightEnabled: true,//高度自动增长
            minFrameHeight: 700//最小高度
        });
        editor.render('editor');
    </script>

</div>


<script>
    //父页面调用
    function submit() {
        layui.use('jquery', function () {
            var $ = layui.jquery;
            $("#SubmitBtn").click();
        });
    }

    //初始化表单使用
    //layui.use(['form', 'jquery'], function () {
    //    var form = layui.form
    //        , $ = layui.jquery;

    //    //监听提交
    //    form.on('submit(formDemo)', function (data) {
    //        $.ajax({
    //            url: '/Home/DoAddStuInfo' //提交的地址
    //            , type: 'post' //提交的方式
    //            , data: $("#form1").serialize() //提交的数据
    //            , dataType: 'json' // 返回值类型
    //            , success: function (res) { //请求成功时执行
    //                if (res.code > 0) {
    //                    layer.alert('添加成功！', function (index) {
    //                        layer.close(index);
    //                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    //                        parent.layer.close(index); //再执行关闭
    //                        parent.tableIns.reload();
    //                    });

    //                }
    //            }
    //        });
    //        return false;
    //    });

    //});


</script>