<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webThemez.com">
    <title>@ViewBag.Title</title>

    <link rel="favicon" href="assets/images/favicon.png">
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link href="~/Content/HomeAssets/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/HomeAssets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/HomeAssets/css/camera.css" rel="stylesheet" type='text/css' media='all ' id='camera-css' />
    <link href="~/Content/HomeAssets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/HomeAssets/css/isotope.css" rel="stylesheet" />
    <link href="~/Content/HomeAssets/css/style.css" rel="stylesheet" />
</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse" style="background-color: #000000; margin-bottom: 0px; border-radius: 0px">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html">
                    <img src="~/Content/HomeAssets/images/logo.png" >
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav" id="myMainNav">
                    @*构造主导航栏内容*@
                    @*<li><a style="font-size: 20px; color: #FFFFFF;" href="/Home/Index">主页</a></li>*@
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
    <!-- Header -->
    <header style="background-color: #000000; background-size: cover; height: auto;text-align: center; color: white; font-weight: 300; position: relative; border-top: 2px solid #ae130c; border-bottom: 2px solid #ae130c; background-position-x: center;">
        <img style="width: auto; height: auto; max-width: 100%; max-height: 100%;  text-align: center;" src="" id="myTopBanner" />
    </header>
    <!-- /Header -->

    <div>
        @RenderBody()
    </div>

    <footer id="footer">
        <div class="container">
            <div class="social text-center">
                @*分享功能暂时空缺*@
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>

            <div class="clear"></div>
            <!--CLEAR FLOATS-->
        </div>
        <div class="footer2" style="background-color: #840E22;">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 panel">
                        <div class="panel-body">
                            <p class="simplenav">
                                <span id="myFooterNav">
                                    @*<a href="index.html">主页</a> |*@
                                </span>

                                <a href="/Backstage/Index">后台人口</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /row of panels -->
            </div>
        </div>
    </footer>

    @*脚本*@
    <script src="~/Content/HomeAssets/js/modernizr-latest.js"></script>
    <script type='text/javascript' src='~/Content/HomeAssets/js/jquery.min.js'></script>
    <script type='text/javascript' src='~/Content/HomeAssets/js/fancybox/jquery.fancybox.pack.js'></script>

    <script type='text/javascript' src='~/Content/HomeAssets/js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='~/Content/HomeAssets/js/jquery.easing.1.3.js'></script>
    @*<script type='text/javascript' src='~/Content/HomeAssets/js/camera.min.js'></script>*@
    <script src="~/Content/HomeAssets/js/bootstrap.min.js"></script>
    <script src="~/Content/HomeAssets/js/custom.js"></script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script>
        let limitNavMenu = 11; //Max
        let pageNavMenu = 1;
        $.ajax({
            url: '/NavMenu/GetPageData'
            , type: 'post'
            , data: {
                limit: limitNavMenu,
                page: pageNavMenu
            }
            , dataType: 'json'
            , success: function (res) {
                if (res.code == 0) {
                    console.log(window.location.pathname);
                   
                    for (var i = 0; i < res.data.length; i++) {
                        if (window.location.pathname == "/") {
                            window.location.href += res.data[0].LinkAddress.substring(1, res.data[0].LinkAddress.length);
                        }
                        $('#myMainNav').append('<li><a style="font-size: 20px; color: #FFFFFF;" href="' + res.data[i].LinkAddress + '">' + res.data[i].MenuName + '</a></li>');
                        $('#myFooterNav').append('<a href="' + res.data[i].LinkAddress + '">' + res.data[i].MenuName + '</a> |');
                        if (res.data[i].LinkAddress == window.location.pathname) {
                            $('#myTopBanner').attr('src', res.data[i].TopBanner);
                        }
                        
                    }
                }
            }
        });

    </script>

    @RenderSection("scripts", required: false)

</body>
</html>



