
@{
    ViewBag.Title = "About";
}

<style type="text/css">

    .box {
        width: 130px;
        height: auto;
        position: fixed;
        right: 0px;
        top: 300px;
        z-index: 100;
        float: right;
        padding: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #B0B0B0;
        background-color: white;
    }
</style>

<h1 style="margin-left:30%;">火星</h1>

    <!-- container -->
    <section class="container">
        <div class="row">
            <!-- main content -->
            <section class="col-md-8 maincontent">                
                <p>
                    <img src="~/Content/HomeAssets/images/hxjs.jpg" alt="" class="img-rounded pull-right" width="300">火星（Mars）是太阳系八大行星之一，是太阳系由内往外数的第四颗行星，属于类地行星，
                    直径约为地球的53%，质量为地球的14%。自转轴倾角、
                    自转周期均与地球相近公转一周约为地球公转时间的两倍。橘红色外表是地表的赤铁矿。我国古书上将火星称为&ldquo;荧惑星&rdquo;，西方古代（古罗马）称火星为&ldquo;玛尔斯星&rdquo;，是十二星座白羊座的独一守护星，并非天蝎座的守护行星。
                </p>
                <p>
                    火星基本上是沙漠行星，地表沙丘、砾石遍布且没有稳定的液态水体（2015年9月28日，美国宇航局公布火星上有少量的水。据法新社2018年7月25日报道，欧洲航天局(ESA)的研究员称，火星上发现了第一个液态地下水湖）。
                    二氧化碳为主的大气既稀薄又寒冷，沙尘悬浮其中，每年常有尘暴发生。火星两极皆有水冰与干冰组成的极冠会随着季节消长。
                </p>
                @*<h3>人类探索火星的历史</h3>
                <h4>人类早期探索火星的任务大约2/3都失败了，但那成功的1/3带上我们的遐思深赴这颗古老星球，拍摄下熔岩平原、沙丘之海、环形山和深邃的峡谷……有生之年，我们能不能成为真正的火星人？</h4>
                <strong>2018年5月5日</strong>
                <p id="1">
                    <img src="~/Content/HomeAssets/images/hxjs2.jpg" alt="" class="img-rounded pull-right" width="300">
                    美国加州范登堡空军基地，宇宙神5号火箭搭载着一艘飞船冲出云层，怒火点燃了黑夜，光芒划破了长空，飞船代表地球人启程：入侵火星！
                </p>
                <p>
                    205个地球日之后，即2018年11月26日，它的核心船员，一位全副武装的“地质学家”将在火星地表登陆，并把一根长长的探针刺入地下，火星内部隐藏的秘密将被人类一一洞悉，这位地质学家也因此得名洞察号（InSight），
                    一个来自地球的机器人。
                </p>
                <p>
                    洞察号并非孤军作战，更多的机器人入侵者早已登陆多时，最早的一位于1971年到达火星地表，距今已近50年。只不过，这些机器人有的已经粉身碎骨，有的则深陷沙地、绝望求生，仍在“坚持战斗”的少数也是饱经风霜。

                    即便如此，它们仍是现今人类在地外行星上最强大的“机器人军团”，海盗1号、海盗2号、火星探路者、凤凰号、勇气号、机遇号、好奇号，无一不是战绩斐然、声名赫赫。
                </p>
                <p>
                    （火星上的着陆器和火星车分布图，制图@张靖/星球研究所）
                    <img src="~/Content/HomeAssets/images/hxjs4.jpg" style="center">
                </p>
                <p>如果再加上数量众多的飞掠和环绕火星运行的航天器，火星已是“人声鼎沸”</p>
                <p>
                    （火星航天器家族，制图@Jason Davis/The Planetary Society）
                    <img src="~/Content/HomeAssets/images/hxjs5.jpg" width="800" height="657" style="center">
                </p>
                <p>在肉眼观星的时代，火星在地球的夜空中呈现出比周围星辰更加显著的红色，中国古人称其“荧荧如火”。火星的目视亮度经常发生变化、忽明忽暗，更为诡异的是，它还会在夜空中突然逆行（Retrograde），令人难以捉摸，火星也因此得名“荧惑”。如果逆行发生在心宿（天蝎座），占星术士们称之为“荧惑守心”，意味着皇帝驾崩或者宰相失位为大凶之兆。</p>
                <strong id="2">1877年</strong>
                <p>当天文学步入望远镜时代，意大利天文学家斯基亚帕雷利（Giovanni Schi aparelli）发现火星地表有许多线条状的地貌，他称这些线条为“沟渠”，但是狂热的大众更愿意相信这些线条正是外星智慧生命开凿出的运河，延续100余年的“火星人”幻想就此拉开帷幕。</p>
                <p>（1996年蒂姆·波顿执导的电影《火星人玩转地球》剧照）<img src="~/Content/HomeAssets/images/hxjs6.jpg" style="center"></p>
                <strong>1960年</strong>
                <p>到了航天时代，人类的探测器开始在数千或上万千米处抵近观察，一个更加真实的火星被呈现出来，它拥有太阳系最大最长的峡谷之一——水手峡谷（Valles Marineris），长约4000千米、深达7千米，横跨大半个火星，如同被上帝之剑砍削而成。</p>
                <p>（海盗1号拍摄的水手峡谷，图片源自@NASA）<img src="~/Content/HomeAssets/images/hxjs7.jpg" style="center"></p>
                <p>它拥有太阳系最高的山峰，奥林帕斯火山（Olympus Mons），高度超过2万米，是珠峰海拔的2.5倍。更令人兴奋的是，它还拥有宽阔蜿蜒的河床，流水曾在此奔腾而去。这意味着，看似荒芜的火星曾经有过湿润的时光。人们禁不住好奇，这些水流是否也曾经孕育出欣欣向荣的生命呢？</p><p><img src="~/Content/HomeAssets/images/hxjs8.jpg" style="center"></p>
                <p>地球上的科学家也开始忙碌起来，他们在南极洲发现了一块火星陨石，编号为ALH84001，其上有类似细菌状的化石结构，极有可能是36亿年前火星上的生命遗存。科学界沸腾了！总统激动地在白宫南草坪发表演说：“如果此次发现被证实，它将是科学所揭示的最令人惊叹的认知之一！If this discovery is confirmed, it will surely be one of the most stunning insights into our universe that science has ever uncovered！”</p>
                <p>火星是太阳系中最近似地球的天体，直径约为地球的一半，自转轴倾角、自转周期则与地球相当，有着与地球类似的四季交替，一个火星日几乎和地球日一样长。如果太阳系存在地外生命，火星一定是最有可能的那个。</p>
                <p>但是，想要发现外星生命，仅仅在地球上大海捞针捡拾陨石或者远远地围绕着火星拍照都是不够的，我们必须拿到最直接的证据，最好的办法就是：派人到火星上找！</p>
                <strong id="3">1969年7月20日</strong>
                <p>宇航员阿姆斯特朗迈出了他的一小步，人类仅仅用了4天时间便从地球登上了40万千米外的月球。然而火星远比月球更加遥远，因为公转轨道的不同，火星与地球的最近端相距约5600万千米，是地月距离的140倍；最远端更是高达4亿千米，是地月距离的1000倍。如此巨大的距离变化造成地球夜空中火星亮度差异显著，距离近则又大又亮，距离远则又小又暗。同样也是因为这种距离变化，才会让火星&ldquo;看起来&rdquo;突然逆行。</p>
                <p>另一方面，在实际航行中，人类还没有任何一个推进系统可以强大到让飞船沿着火星与地球的最短距离行驶，我们必须沿着一条椭圆形的轨道，借助地球的公转速度将飞船“甩”到火星，轨道的一端与地球轨道相切，另一端与火星轨道相切，这便是著名的霍曼转移轨道。1925年由德国数学家沃尔特·霍曼（Walter Hohmann）发现并命名。悲剧的是这条轨道长达4亿千米与火星到地球的最远距离相当。通过霍曼转移轨道去往火星，仅单程就需要：6个月，比登月的4天长太多了，以20世纪人类尚显稚嫩的航天技术，苏联和美国都不约而同地选择了：机器人。</p>
                <strong>1971年5月19日、28日</strong>
                <p>苏联接连发射两艘去往火星的飞船分别携带火星2号（Mars 2）、火星3号（Mars 3）着陆器，以及两辆只有4.5千克的机器人。</p>
                <p>（火星3号，上方为着陆器，图片源自@NASA） <img src="~/Content/HomeAssets/images/hxjs9.jpg" style="center"></p>
                <p>Prop-M火星车，它的双腿由两个滑板构成，可以由无线电信号在地球上远程操控正前方的金属条可以探测障碍物。如果登陆成功，Prop-M将成为漫游火星的第一“人”。1971年11月27日，在经历半年多的星际航行后，火星2号进入火星轨道。但此时的火星上，一场行星级的沙尘暴正在肆虐，风速高达26米/秒，尘埃在大气中弥漫不散长达1个月。火星2号着陆器以每秒6千米的速度，一头扎入风暴中，还没有来得及向地球传回数据便和Prop-M火星车一同消失得无影无踪。它是第一个到达火星地表的人造物，虽然是以粉身碎骨的方式。火星3号的情况也不乐观，1971年12月2日它成功在火星实现软着陆。十几秒后，沙尘暴便摧毁了它的通讯系统，从此与地球失去联系。然而就在这十几秒中，它向地球传回了来自火星地表的第一张照片，照片中似乎是火星的地表与天空，但没有任何东西可以清楚辨认。</p>
                <p>科学的高峰，有时是擦干眼泪后才攀登上去的。人类早期探索火星的任务大约2/3都失败了，但火星始终有一种特殊的吸引力。</p>
                <p>1975年8月20日、9月9日，美国的两艘飞船海盗1号（Viking 1）、海盗2号（Viking 2）满载着各种仪器向火星再次进发。</p>
                <p>（海盗号，上方为着陆器，图片源自@NASA）</p>
                <p><img src="~/Content/HomeAssets/images/hxjs10.jpg" style="center"></p>
                <p></p><p>
                </p>
                <p> <img src="~/Content/HomeAssets/images/hxjs11.jpg" alt="" class="img-rounded pull-right" width="300">11个月后，海盗1号着陆器开始进入火星大气层，地球上的NASA喷气推进实验室一片焦灼，没有人知道它的命运如何。20多分钟后，一张高清照片被传至科学家面前，海盗1号“恶作剧”般地对着自己的脚垫区域来了一张局部“自拍”，自拍显示它已经安全抵达且成像系统工作良好。随后，越来越多的图像数据以光速飞向地球，伴随着地球人的兴奋、喜悦、惊讶，火星地表的真实面貌被展现出来。这是一个空旷、贫瘠、乱石遍布的世界，富含铁元素的土壤因为氧化而显得一片橙红，连天空也被浮尘渲染，这就是地球人仰望了成千上万年的红色星球：火星。着陆后的第8个火星日，海盗1号开始分析火星的土壤，3份样品、3次实验都检测到了强烈的气体释放，这是生命存在的信号，第23个火星日，新的分析又表明火星土壤中没有任何有机物。</p>
                <strong>1997年7月4日</strong>
                <p><img src="~/Content/HomeAssets/images/hxjs12.jpg" alt="" class="img-rounded pull-right" width="300">一艘全新的飞船登陆火星——火星探路者号（MESUR Pathfinder），这是一次新技术的全面预演，大型安全气囊被应用于着陆过程。气囊以14米/秒的速度撞击火星地表，第一次反弹高达15.7米，持续弹跳至少15次。当弹跳停止，安全气囊排出气体，再像莲花瓣一样打开，着陆器跃然而出，整个过程在数分钟内一气呵成，完美。苏联人未能完成部署的火星车机器人也在此次登陆中首次成功释放，旅居者号（Sojourner）拥有自主式导航系统，能灵活爬过岩石，前后轮独立操控、可以就地转弯。虽然个头不大，体重只有11.5千克，但相比于之前固定不动的着陆器，却更像是一个活蹦乱跳的地质学家，可以四处漫游寻找有价值的圆卵石和砾岩，后两者都与水源密切相关。探路者号工作了83个火星日，之后通讯中断，旅居者号也失去联系。如果它没有损坏，想必还在执行人类提前预设的巡游任务，东看西逛。</p>
                <strong>2008年5月25日</strong>
                <p>凤凰号着陆器（Phoenix）登陆火星，并接连发现水冰、火星降雪。</p>
                <p>（凤凰号着陆过程最后一步的想象图，当着陆器距离地面570米时，推进器启动，避免与地面相撞，图片源自@NASA）<img src="~/Content/HomeAssets/images/hxjs13.jpg" style="center"></p>
                <strong id="4">2012年8月5日</strong><p>历史上耗资最贵的火星探测项目，火星科学实验室（Mars Science Laboratory）将一辆巨大的火星车好奇号（Curiosity）送上了火星。因为体型过大安全气囊无法承载，好奇号的着陆方式再次革新，一架天空起重机（Sky Crane Maneuver）将它悬吊起来、缓缓下降。好奇号甫一落地，夹钳即剪断系绳，天空起重机随即飞走。现在，辽阔的火星荒原都交给了人类蓬勃跳动的好奇心。它不需要食物，不需要水，也从不感到孤单，甚至非常善于自拍。</p>
                <p>（好奇号自拍照，有意思的是，NASA在发布这张照片时把它的“自拍杆”PS掉了，图片源自@NASA）<img src="~/Content/HomeAssets/images/hxjs14.jpg" style="center"></p>
                <strong>2013年9月26日</strong>
                <p>好奇号发现火星土壤中的水分高达1.5-3%，完全可以满足未来人类移民的需要；2014年12月16日，NASA宣布好奇号在火星岩石中发现了有机物，这些都让许多人相信，我们正在接近火星生命的真相。</p>
                <p>近50年的火星地表探索，机器人战功卓著。现在，该人类上场了</p>
                <p>NASA宣布将在2030年代把人类宇航员送上火星，SpaceX的埃隆·马斯克更是大胆提出最早在2024年就会实现这一目标，而中国几乎可以肯定也一定会实施载人登陆火星的计划。</p>
                @*<p>（人类宇航员在未来拜访海盗2号着陆器的场景，图片源自@NASA）<img src="~/Content/HomeAssets/images/hxjs15.jpg" style="center"></p>
                <p>未来并不遥远，以现今的宇航员首次进入太空时40岁的平均年龄计算，第一代火星人已经诞生，我们有生之年将亲眼见证，人类成为跨星球物种！</p>
                <p>（图片源自@NASA）<img src="~/Content/HomeAssets/images/hxjs16.jpg" style="center"></p>*@
                <p>THE END....</p>


            </section>
            <!-- /main -->
            <!-- Sidebar -->
            @*<aside class="col-sm-4 sidebar sidebar-right">

                <div class="box">
                    <p><a href="#6">回到顶部</a></p>
                    <ul class="list-unstyled list-spaces">
                        <li>
                            <a href="#1">入侵火星</a><br>
                            <span class="small text-muted">怒火点燃了黑夜，光芒划破了长空</span>
                        </li>
                        <li>
                            <a href="#2">对外星生命的幻想</a><br>
                            <span class="small text-muted">“火星人”幻想就此拉开帷幕。</span>
                        </li>
                        <li>
                            <a href="#3">替代品--机器人</a><br>
                            <span class="small text-muted">既然人类上不去火星，那就让其他东西代我们去</span>
                        </li>
                        <li>
                            <a href="#4">好奇号！</a><br>
                            <span class="small text-muted">历史上耗资最贵的火星探测项目，火星科学实验室的“好奇号”，他讲给我们带来怎样的惊喜。</span>
                        </li>
                        <li>
                            <a href="#5">关于火星的几部电影</a><br>
                            <span class="small text-muted">想了解更多的火星吗？来看看电影吧</span>
                        </li>
                    </ul>
                </div>

            </aside>*@
            <!-- /Sidebar -->

        </div>
    </section>
    <!-- /container -->
    @*<section class="team-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 id="5">关于霍金的警告和火星男孩，究竟是网络谣言还是具有预知性的信息？</h3>
                    <p>&nbsp;&nbsp;据俄罗斯《真理报》2010年10月2日报道，2006年美国和欧洲发射的火星探测器先后登上火星，满怀希望的人们燃起了在火星上寻找生命痕迹的热情，巧逢此时俄罗斯媒体很多权威媒体披露了一个惊人的秘密：俄罗斯伏尔加格勒北部地区一名年仅7岁的神秘男孩竟然自称来自火星，而且具有令人惊叹的天赋和非同寻常的才能，他的一些惊人言论立即引起了全世界顶尖级科学家、神学家的高度关注。著名物理学家、天文学家霍金前日在接受英国官方媒体时称：“无论他是否来自火星，但这个‘火星小孩’对宇宙和天文的认知已经超出了我的想象，我相信全世界权威的科学家都有这种认识，我们不能忽视他提出的宇宙论以及对未来世界的预言。”</p>
                    <p>&nbsp;&nbsp;霍金生前郑重警告：谨慎对待外星人发来的信号，我觉得应该相信，至于火星男孩，我持中立态度，以上报道我不太确定其真实性。</p><p>
                        以上皆转载自知--乎默默Rachel
                    </p>
                    <br />
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="~/Content/HomeAssets/images/hxjs17.jpg" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4><a href="https://www.baidu.com/s?rsv_idx=1&wd=%E6%98%9F%E9%99%85%E7%A9%BF%E8%B6%8A%20%E7%94%B5%E5%BD%B1&usm=2&ie=utf-8&rsv_cq=%E4%B8%8E%E7%81%AB%E6%98%9F%E6%9C%89%E5%85%B3%E7%9A%84%E7%94%B5%E5%BD%B1&rsv_dl=0_left_exactqa_28286">星际穿越</a></h4>
                        <!-- Designation -->
                        <span class="pos">豆瓣：9.3</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="~/Content/HomeAssets/images/hxjs18.jpg" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4><a href="https://www.baidu.com/s?rsv_idx=1&wd=%E7%81%AB%E6%98%9F%E6%95%91%E6%8F%B4+%E7%94%B5%E5%BD%B1&usm=4&ie=utf-8&rsv_cq=%E7%81%AB%E6%98%9F%E7%94%B5%E5%BD%B1&rsv_dl=0_left_exactqa_28286">火星救援</a></h4>
                        <!-- Designation -->
                        <span class="pos">豆瓣：8.4</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="~/Content/HomeAssets/images/hxjs19.jpg" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4><a href="https://www.baidu.com/s?rsv_idx=1&wd=%E6%98%9F%E9%99%85%E8%BF%B7%E8%88%AA+%E7%94%B5%E5%BD%B1&usm=4&ie=utf-8&rsv_cq=%E7%81%AB%E6%98%9F%E7%94%B5%E5%BD%B1&rsv_dl=0_left_exactqa_28286">星际迷航11</a></h4>
                        <!-- Designation -->
                        <span class="pos">豆瓣：8.0</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="~/Content/HomeAssets/images/hxjs20.jpg" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4><a href="https://www.baidu.com/s?rsv_idx=1&wd=%E7%81%AB%E6%98%9F%E4%BB%BB%E5%8A%A1+%E7%94%B5%E5%BD%B1&usm=4&ie=utf-8&rsv_cq=%E7%81%AB%E6%98%9F%E7%94%B5%E5%BD%B1&rsv_dl=0_left_exactqa_28286">火星任务</a></h4>
                        <!-- Designation --><span class="pos">豆瓣：8.4</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@