@{
    ViewBag.Title = "主页";
}

<section class="news-box top-margin" style="background-color: #840E22; margin-top:0px;">
    <div class="container">
        <h2><span style="color: #FFFFFF;">Our latest projects</span></h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="~/Content/HomeAssets/images/pt2.jpg"></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><strong>人类探索火星的历史</strong></p>
                                    <p>人类早期探索火星的任务大约2/3都失败了，但那成功的1/3带上我们的遐思深赴这颗古老星球，
                                    拍摄下熔岩平原、沙丘之海、环形山和深邃的峡谷……有生之年，我们能不能成为真正的火星人？</p>
                                </div>
                                <div>
                                    <a href="/Home/About" class="btn-inline">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="~/Content/HomeAssets/images/pt3.jpg"></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><strong>美“火星2020”拟于明年夏季升空</strong></p>
                                    <p>美国国家航空航天局（NASA）的“火星2020”火星车拟于明年夏季发射，并于2021年2月降落于火星的耶泽洛陨石坑内,
                                    这个六轮机器人将在此区域搜索生命可能存在的“蛛丝马迹”。</p>
                                </div>
                                <div>
                                    <a href="/Home/About" class="btn-inline">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="~/Content/HomeAssets/images/pt4.jpg"></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><strong>火星大气</strong></p>
                                    <p>火星周围也笼罩着大气层，与地球大气层相似。火星大气层的主要成分是二氧化碳，其次是氮、氩，此外还有少量的氧和水蒸气。</p>
                                </div>
                                <div>
                                    <a href="/Home/About" class="btn-inline">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="~/Content/HomeAssets/images/pt1.jpg"></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><strong>探测原因</strong></p>
                                    <p>了解火星大气在发生什么对确定此行星现在或曾经是否适合生命生存发展很重要。</p>
                                </div>
                                <div>
                                    <a href="/Home/About" class="btn-inline">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">探测计划</h2></div>
            <p><span>美国宇航局的首个“火星侦察” 任务是建造凤凰号火星车，并计划在今年8月发射。除此火星车研究合同之外，美国宇航局还奖励位于圣路易斯的华盛顿大学的研究人员80万美元.</span></p>
            <p>因为他们参与研制了名为ExoMars的欧洲火星科学任务。此任务计划于2013年发射，将用来搜寻火星上今生前世的火星生命。</p>
            <a href="/Home/About" title="read more" class="btn-inline " target="_self">read more</a>
        </div>

        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">极光现象</h2></div>
            <div class="list styled custom-list">
                <p>极光（Aurora），是一种绚丽多彩的等离子体现象，其发生是由于太阳带电粒子流（太阳风）进入地球磁场，在地球南北两极附近地区的高空，夜间出现的灿烂美丽的光辉.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">为什么探索火星?</h2></div>
            <blockquote class="blockquote-1">
                <p>我们人类探索宇宙以来，主要是两个特别的任务，第一个，就是寻找宇宙外的生命，另外一个就是，找到适合人类生存的第二星球，
                可是，这几十年都过去了，地外生命现在，也没有找到适合人类生存的星球，也没有找到，只有一个目标，那就是火星。</p>
                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
        </div>

    </div>
</section>
