@{
    ViewBag.Title = "主页";
}

<section class="news-box top-margin" style="background-color: #840E22">
    <div class="container">
        <h2><span style="color: #FFFFFF;">Our latest projects</span></h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="~/Content/HomeAssets/images/pt2.jpg"></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><strong>Lorem ipsum</strong></p>
                                    <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                </div>
                                <div>
                                    <a href="#" class="btn-inline">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="~/Content/HomeAssets/images/pt3.jpg"></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><strong>Lorem ipsum</strong></p>
                                    <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                </div>
                                <div>
                                    <a href="#" class="btn-inline">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="~/Content/HomeAssets/images/pt4.jpg"></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><strong>Lorem ipsum</strong></p>
                                    <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                </div>
                                <div>
                                    <a href="#" class="btn-inline">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="~/Content/HomeAssets/images/pt1.jpg"></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><strong>Lorem ipsum</strong></p>
                                    <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                </div>
                                <div>
                                    <a href="#" class="btn-inline">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">About Us</h2></div>
            <p><span>Perspiciatis unde omnis iste natus error sit voluptatem. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus musull dui.</span></p>
            <p>Lorem ipsumulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio.</p>
            <a href="#" title="read more" class="btn-inline " target="_self">read more</a>
        </div>

        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">Projects</h2></div>
            <div class="list styled custom-list">
                <ul>
                    <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Singapore Township</a></li>
                    <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Mega luxury Villas</a></li>
                    <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">RNT Commercial Shopping Mall</a></li>
                    <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">SVN Independent & Duplex Houses</a></li>
                    <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">World wide IT park</a></li>
                    <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">North Arena SNT Township</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">Our Clients</h2></div>
            <blockquote class="blockquote-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid</p>
                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
        </div>

    </div>
</section>


<footer id="footer">
    <div class="container">
        <div class="social text-center">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-flickr"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>

        <div class="clear"></div>
        <!--CLEAR FLOATS-->
    </div>
    <div class="footer2" style="background-color: #840E22;">
        <div class="container">
            <div class="row">

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="simplenav">
                            <a href="index.html">主页</a> |
                            <a href="about.html">简介</a> |
                            <a href="projects.html">景点</a> |
                            <a href="price.html">旅游培训</a> |
                            <a href="contact.html">后台人口</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /row of panels -->
        </div>
    </div>
</footer>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="~/Content/HomeAssets/js/modernizr-latest.js"></script>
<script type='text/javascript' src='~/Content/HomeAssets/js/jquery.min.js'></script>
<script type='text/javascript' src='~/Content/HomeAssets/js/fancybox/jquery.fancybox.pack.js'></script>

<script type='text/javascript' src='~/Content/HomeAssets/js/jquery.mobile.customized.min.js'></script>
<script type='text/javascript' src='~/Content/HomeAssets/js/jquery.easing.1.3.js'></script>
@*<script type='text/javascript' src='~/Content/HomeAssets/js/camera.min.js'></script>*@
<script src="~/Content/HomeAssets/js/bootstrap.min.js"></script>
<script src="~/Content/HomeAssets/js/custom.js"></script>
@*<script>
		jQuery(function(){

			jQuery('#camera_wrap_4').camera({
				height: '600',
				loader: 'bar',
				pagination: false,
				thumbnails: false,
				hover: false,
				opacityOnGrid: false,
                imagePath: '~/Content/HomeAssets/images/'
			});

		});
</script>*@
