
@{
    ViewBag.Title = "SceneryInfo";
}

<!-- container -->
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <section id="portfolio" class="page-section section appear clearfix">
                <br />
                <br />
                <p>
                    <h2 style="text-align: center">千年之梦，此刻，近在咫尺</h2>
                    <br />
                    <br />
                </p>


                <div class="row">
                    <nav id="filter" class="col-md-12 text-center">
                        <ul>
                            <li><a href="#" class="current btn-theme btn-small" data-filter="*">全部</a></li>
                            <li><a href="#" class="btn-theme btn-small" data-filter=".webdesign">天气</a></li>
                            <li><a href="#" class="btn-theme btn-small" data-filter=".photography">景观</a></li>
                            <li><a href="#" class="btn-theme btn-small" data-filter=".print">蓝色星球</a></li>
                        </ul>
                    </nav>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="portfolio-items isotopeWrapper clearfix" id="3">

                                <article class="col-sm-4 isotopeItem webdesign">
                                    <div class="portfolio-item">
                                        <a href="#">
                                            <img src="~/Content/HomeAssets/portfolio/img1.jpg" alt="" />
                                            <div class="portfolio-desc align-center">
                                                <div class="folio-info">
                                                    <h5>火星的日出</h5>
                                                    <h6 style="text-align:center;">异星他乡的日出</h6>

                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>

                                <article class="col-sm-4 isotopeItem photography">
                                    <div class="portfolio-item">
                                        <a href="#">
                                            <img src="~/Content/HomeAssets/portfolio/img2.jpg" alt="" />
                                            <div class="portfolio-desc align-center">
                                                <div class="folio-info">
                                                    <h5>奥林匹斯山脉</h5>
                                                    <h6 style="text-align:center;">太阳系中最高的山峰,高21171米</h6>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>


                                <article class="col-sm-4 isotopeItem photography">
                                    <div class="portfolio-item">
                                        <a href="#">
                                            <img src="~/Content/HomeAssets/portfolio/img3.jpg" alt="" />
                                            <div class="portfolio-desc align-center">
                                                <div class="folio-info">
                                                    <h5>水手峡谷</h5>
                                                    <h6 style="text-align:center;">长4500公里，最宽处600公里，最深处8公里</h6>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>

                                <article class="col-sm-4 isotopeItem photography">
                                    <div class="portfolio-item">
                                        <a href="#">
                                            <img src="~/Content/HomeAssets/portfolio/img4.jpg" alt="" />
                                            <div class="portfolio-desc align-center">
                                                <div class="folio-info">
                                                    <h5>赫拉斯盆地</h5>
                                                    <h6 style="text-align:center;">深9000米，宽1800公里,可以装下珠穆朗玛峰</h6>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>

                                <article class="col-sm-4 isotopeItem photography">
                                    <div class="portfolio-item">
                                        <a href="#">
                                            <img src="~/Content/HomeAssets/portfolio/img5.jpg" alt="" />
                                            <div class="portfolio-desc align-center">
                                                <div class="folio-info">
                                                    <h5>诺亚台地</h5>
                                                    <h6 style="text-align:center;">由水流冲击出来的区域，或可证明火星曾有生命</h6>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>

                                <article class="col-sm-4 isotopeItem photography">
                                    <div class="portfolio-item">
                                        <a href="#">
                                            <img src="~/Content/HomeAssets/portfolio/img6.jpg" alt="" />
                                            <div class="portfolio-desc align-center">
                                                <div class="folio-info">
                                                    <h5>盖尔撞击坑</h5>
                                                    <h6 style="text-align:center;">由陨石撞击出来的陨石坑，宽154公里</h6>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>

                                <article class="col-sm-4 isotopeItem photography">
                                    <div class="portfolio-item">
                                        <a href="#">
                                            <img src="~/Content/HomeAssets/portfolio/img7.jpg" alt="" />
                                            <div class="portfolio-desc align-center">
                                                <div class="folio-info">
                                                    <h5>火星冰盖</h5>
                                                    <h6 style="text-align:center;">火星古代海洋最后的倔强</h6>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>

                                <article class="col-sm-4 isotopeItem webdesign">
                                    <div class="portfolio-item">
                                        <a href="#">
                                            <img src="~/Content/HomeAssets/portfolio/img8.jpg" alt="" />
                                            <div class="portfolio-desc align-center">
                                                <div class="folio-info">
                                                    <h5>火星沙尘暴</h5>
                                                    <h6 style="text-align:center;">少见却破坏力巨大，最高可达80KM，期间无法通讯</h6>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>

                                <article class="col-sm-4 isotopeItem print">
                                    <div class="portfolio-item">
                                        <a href="#">
                                            <img src="~/Content/HomeAssets/portfolio/img9.jpg" alt="" />
                                            <div class="portfolio-desc align-center">
                                                <div class="folio-info">
                                                    <h5>姊妹星球</h5>
                                                    <h6 style="text-align:center;">曾经太阳系有两颗蓝色星球</h6>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>

</section>
<!-- /container -->
