
<link href="assets/css/clean-blog.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        我们吃在火星
                    </h2>
                    <h3 class="post-subtitle">
                        在遥远的火星，我们该怎么吃？
                    </h3>
                </a>
                <p class="post-meta">文章由 <a href="#">张二狗</a> 写于2019年12月13日</p>
                <hr />
            </div>


            <div class="post-preview">
                <a href="posk.html">
                    <h2 class="post-title">
                        震惊，火星上我们居然住在这里！
                    </h2>
                    <h3 class="post-subtitle">
                        我们来到火星之后，万万没想想到，我们居然住在这里.......
                    </h3>
                </a>
                <p class="post-meta">文章由 <a href="#">陈震惊</a> 写于2019年12月13日</p>
                <hr />
            </div>

            <div class="post-preview">
                <a href="losk.html">
                    <h2 class="post-title">
                        有一说一，火星上交通真的.......
                    </h2>
                    <h3 class="post-subtitle">
                        难道就我一人认为火星交通.......
                    </h3>
                </a>
                <p class="post-meta">文章由 <a href="#">普通游客</a> 写于2019年12月13日</p>
                <hr />
            </div>

        </div>
    </div>
</div>
